extends layout

block content
  #fh5co-wrapper
  #fh5co-page
    header#fh5co-header-section.sticky-banner
      .container
        .nav-header
          a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
            i
          h1#fh5co-logo
            a(href='/')
              i.icon-airplane
              | Travel
          // START #fh5co-menu-wrap
          nav#fh5co-menu-wrap(role='navigation')
            ul#fh5co-primary-menu.sf-menu
              li
                a(href='/') Home
              li
                a.fh5co-sub-ddown(href='vacation') Vacations
                ul.fh5co-sub-menu
                  li
                    a(href='#') Family
                  li
                    a(href='#') CSS3 &amp; HTML5
                  li
                    a(href='#') Angular JS
                  li
                    a(href='#') Node JS
                  li
                    a(href='#') Django &amp; Python
              li.active
                a(href='flight') Flights
              li
                a(href='hotel') Hotel
              li
                a(href='car') Car
              li
                a(href='blog') Blog
              li
                a(href='contact') Contact
    // end:header-top
    .fh5co-hero
      .fh5co-overlay
      .fh5co-cover(data-stellar-background-ratio='0.5' style='background-image: url(images/cover_bg_3.jpg);')
        .desc
          .container
            .row
              .col-sm-5.col-md-5
                // <a href="/" id="main-logo">Travel</a>
                .tabulation.animate-box
                  // Nav tabs
                  ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation')
                      a(href='#flights' aria-controls='flights' role='tab' data-toggle='tab') Flights
                    li(role='presentation')
                      a(href='#hotels' aria-controls='hotels' role='tab' data-toggle='tab') Hotels
                    li(role='presentation')
                      a(href='#packages' aria-controls='packages' role='tab' data-toggle='tab') Packages
                  // Tab panes
                  .tab-content
                    #flights.tab-pane.active(role='tabpanel')
                      .row
                        .col-xxs-12.col-xs-6.mt
                          .input-field
                            label(for='from') From:
                            input#from-place.form-control(type='text' placeholder='Los Angeles, USA')
                        .col-xxs-12.col-xs-6.mt
                          .input-field
                            label(for='from') To:
                            input#to-place.form-control(type='text' placeholder='Tokyo, Japan')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-start') Check In:
                            input#date-start.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-end') Check Out:
                            input#date-end.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-sm-12.mt
                          section
                            label(for='class') Class:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') Economy
                              option(value='economy') Economy
                              option(value='first') First
                              option(value='business') Business
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Adult:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Children:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xs-12
                          input.btn.btn-primary.btn-block(type='submit' value='Search Flight')
                    #hotels.tab-pane(role='tabpanel')
                      .row
                        .col-xxs-12.col-xs-12.mt
                          .input-field
                            label(for='from') City:
                            input#from-place.form-control(type='text' placeholder='Los Angeles, USA')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-start') Return:
                            input#date-start.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-end') Check Out:
                            input#date-end.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-sm-12.mt
                          section
                            label(for='class') Rooms:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='economy') 1
                              option(value='first') 2
                              option(value='business') 3
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Adult:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Children:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xs-12
                          input.btn.btn-primary.btn-block(type='submit' value='Search Hotel')
                    #packages.tab-pane(role='tabpanel')
                      .row
                        .col-xxs-12.col-xs-6.mt
                          .input-field
                            label(for='from') City:
                            input#from-place.form-control(type='text' placeholder='Los Angeles, USA')
                        .col-xxs-12.col-xs-6.mt
                          .input-field
                            label(for='from') Destination:
                            input#to-place.form-control(type='text' placeholder='Tokyo, Japan')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-start') Departs:
                            input#date-start.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-xxs-12.col-xs-6.mt.alternate
                          .input-field
                            label(for='date-end') Return:
                            input#date-end.form-control(type='text' placeholder='mm/dd/yyyy')
                        .col-sm-12.mt
                          section
                            label(for='class') Rooms:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='economy') 1
                              option(value='first') 2
                              option(value='business') 3
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Adult:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xxs-12.col-xs-6.mt
                          section
                            label(for='class') Children:
                            select.cs-select.cs-skin-border
                              option(value='' disabled='' selected='') 1
                              option(value='1') 1
                              option(value='2') 2
                              option(value='3') 3
                              option(value='4') 4
                        .col-xs-12
                          input.btn.btn-primary.btn-block(type='submit' value='Search Packages')
              .desc2.animate-box
                .col-sm-7.col-sm-push-1.col-md-7.col-md-push-1
                  p
                    | HandCrafted by 
                    a.fh5co-site-name(href='http://frehtml5.co/' target='_blank') FreeHTML5.co
                  h2 Exclusive Limited Time Offer
                  h3 Fly to Hong Kong via Los Angeles, USA
                  span.price $599
                  // <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p>
    #fh5co-tours.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 Book A Flight
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .row.row-bottom-padded-md
          .col-md-12.animate-box
            h2.heading-title Todays Flight Deal
          .col-md-6.animate-box
            .row
              .col-md-12
                h4 Better Deals, More Abilities
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .col-md-12
                h4 Keep up with the news of your airline
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .col-md-12
                h4 In-Flight Experience
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .col-md-6.animate-box
            img.img-responsive(src='images/cover_bg_3.jpg' alt='travel')
            a.flight-book(href='#')
              .plane-name
                span.p-flight United States Airways
              .desc
                .left
                  h4 HK-MNL
                  span Dec 20 - Dec29
                .right
                  span.price
                    i.icon-arrow-down22
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$1000
            a.flight-book(href='#')
              .plane-name
                span.p-flight Qatar Airways
              .desc
                .left
                  h4 HK-MNL
                  span Dec 20 - Dec29
                .right
                  span.price
                    i.icon-arrow-down22
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$790
            a.flight-book(href='#')
              .plane-name
                span.p-flight Philippine Airline
              .desc
                .left
                  h4 MNL-HK
                  span Dec 20 - Dec29
                .right
                  span.price
                    i.icon-arrow-down22
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$500
            a.flight-book(href='#')
              .plane-name
                span.p-flight China Airways
              .desc
                .left
                  h4 HK-LAS
                  span Dec 20 - Dec29
                .right
                  span.price
                    i.icon-arrow-down22
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$900
        .row.row-bottom-padded-md
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-1.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 New York
                span 3 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-2.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 Philippines
                span 4 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-3.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 Hongkong
                span 2 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-4.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 New York
                span 3 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-5.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 Philippines
                span 4 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
          .col-md-4.col-sm-6.fh5co-tours.animate-box(data-animate-effect='fadeIn')
            div(href='#')
              img.img-responsive(src='images/place-6.jpg' alt='Free HTML5 Website Template by FreeHTML5.co')
              .desc
                span
                h3 Hongkong
                span 2 nights
                span.price $1,000
                a.btn.btn-primary.btn-outline(href='#')
                  | Book Now 
                  i.icon-arrow-right22
    #fh5co-testimonial(style='background-image:url(images/img_bg_1.jpg);')
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2.text-center.fh5co-heading
            h2 Happy Clients
        .row
          .col-md-4
            .box-testimony.animate-box
              blockquote
                span.quote
                  span
                    i.icon-quotes-right
                p
                  | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
              p.author
                | John Doe, CEO 
                a(href='http://freehtml5.co/' target='_blank') FREEHTML5.co
                span.subtext Creative Director
          .col-md-4
            .box-testimony.animate-box
              blockquote
                span.quote
                  span
                    i.icon-quotes-right
                p
                  | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;
              p.author
                | John Doe, CEO 
                a(href='http://freehtml5.co/' target='_blank') FREEHTML5.co
                span.subtext Creative Director
          .col-md-4
            .box-testimony.animate-box
              blockquote
                span.quote
                  span
                    i.icon-quotes-right
                p
                  | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
              p.author
                | John Doe, Founder 
                a(href='#') FREEHTML5.co
                span.subtext Creative Director
    include footer.jade
  include scripts.jade
